.About{
    // width: 100vw;
    display: flex;
    align-items: center;
    font-family: 'Poiret One', cursive;
    background-color: var(--primary-color);
    .col_1{
        // border: 1px solid grey;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 100px;
            span{
                color: var(--tertiary-color);
            }
        }
        h2{
            span{
                color: var(--tertiary-color);
            }
        }
        p{
            font-size: 30px;
        }
    }
    .col_1 >*{
        margin:50px 100px;
    }
    .col_2{
        color: var(--secondary-color);
        width: 50vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;

        //common box

        .box{
            height:350px;
            width: 350px;
            box-shadow: 0px 0px 5px 1px var(--secondary-color);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            #about_img{
                height: 100px;
                width: auto;
            }
        }
        .box > *{
            margin: auto;
        }

        //4th box

        .b4{
            box-shadow: none;
            background-color:var(--primary-color);
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            a{
                font-style: none;
                text-decoration: none;
                color: var(--secondary-color);
                .tag{
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                    align-items: center;
                    box-shadow: 0px 0px 3px 0.5px var(--secondary-color);
                    cursor: pointer;
                    #icon{
                        color: var(--secondary-color);
                        height: 60px;
                        width: 60px;
                    }
                    &:hover{
                        box-shadow: 0px 0px 3px 2px var(--secondary-color);
                    }

                }
                .tag>*{
                    margin: 12px;
                }
                p{
                font-size: 30px;
                }
            }
        }
            .b4>*{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-height:80px;
        }
    }
    .col_2 > *{
        margin: 20px;
    }
}
.About >*{
    margin: 12px;
}

@media screen and (max-width:1659px){
    .About{
        text-align: center;
        flex-direction: column;
        .col_1{
            h1{
                font-size: 70px;
            }
            h2{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
        }
        .col_2{
            width: 50%;
            .box{
                max-height:250px;
                max-width: 250px;
                #about_img{
                    height: 40px;
                }
                p{
                    font-size: 12px;
                }
            }
            .b4{
                a{         
                    height: 100px;
                    .tag{
                        #icon{
                            scale: 0.8;
                        }
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            .b4>*{
                height: 50px;
            }
     
        }
        .col_1>*{
            margin: 40px 0px;
        }
    }

}

@media screen and (max-width:1160px){
    .About{
        flex-direction: column;
        .col_1{
            h1{
                font-size: 40px;
            }
            h2{
                font-size: 20px;
            }
            p{
                font-size: 20px;
            }
        }
        .col_2{
            width: 80%;
            .box{
                height: 150px;
                width: 150px;
                #about_img{
                    height: 40px;
                }
                p{
                    font-size: 12px;
                }
            }
            .b4{
                a{         
                    height: 30px;
                    .tag{
                        height: 50px;
                        #icon{
                            scale: 0.6;
                        }
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }

        }
        .col_1>*{
            margin: 40px 0px;
        }
    }
    .About>*{
        margin: 0px;
    }
}

@media screen and (max-width:475px){
    .About{
        .col_2{
            .box{
                height: 100px;
                width: 100px;
                #about_img{
                    height: 35px;
                }
            }
            .b4{
                a{         
                    height: 30px;
                    .tag{
                        height: 30px;
                        #icon{
                            scale: 0.8;
                        }
                    }
                    p{
                        font-size: 10px;
                    }
                }
            }
        }
    }
}