
.Contact{
    background-color: var(--primary-color);
    font-family: 'Poiret One', cursive;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .form{
        width: 100%;
        height: 90%;
        border-radius: 25px;
        padding: 12px;
        margin: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .Icon{
            margin: 20px;
            padding: 20px;
            #Contact_img{
                width: 400px;
                height: auto;
            }
        }
        form{
            height: 50%;
            width: 70%;
            display: flex;
            align-items: center;
            flex-direction:column;
            color: var(--secondary-color);
            .input{
                display: flex;
                color: var(--tertiary-color);
                input{
                    height: 40px;
                    padding: 10px;
                    font-size: 17px;
                    border-radius: 5px;
                    width: 340px;
                    border: 1px solid var(--tertiary-color);
                }
                #textarea{
                    width: 340px;
                    height: 150px;
                    font-size: 20px;
                    border-radius: 5px;
                    padding: 10px;
                    border: 1px solid var(--tertiary-color);
                }

            }
            .input>*{
                margin: 12px;
            }
            .button{
                display: flex;
                #submit{
                    width: 240px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid grey;
                    background-color: var(--tertiary-color);
                    color: var(--primary-color);
                    border-radius: 12px;
                    font-size: 25px;
                    #btn{
                        margin: 0px 20px;
                    }
                    &:hover{
                        border: 1px solid var(--tertiary-color);
                        background-color: var(--primary-color);
                        color: var(--tertiary-color);
                        transition-duration: 0.5s;
                    }
                }
                #reset{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 12px;
                    width: 240px;
                    height: 50px;
                    border: 1px solid var(--tertiary-color);
                    background-color: transparent;
                    color: var(--secondary-color);
                    font-size: 25px;
                    #btn{
                        margin: 0px 25px;
                    }
                }
            }
            .button>*{
                margin: 12px;
                padding: 12px;
            }
        }
    }
    .Details{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        background-color: var(--primary-color);
        #iframe{
            width: 700px;
            height: 300px;
        }
        .Info{
            display: flex;
            align-items: center;
            justify-content:space-between;
            text-align: center;
            flex-direction: column;
            margin: auto;
            h1{
                margin: 20px;
                font-size: 70px;
                color: var(--secondary-color);
                span{
                    color: var(--tertiary-color);
                }
            }
            p{
                margin: 50px 100px 0px 100px;
                font-size: 30px;
                color: var(--secondary-color);
            }
            .media{
                margin: 12px;
                display: flex;
                a{
                    font-size: 40px;
                    padding: 12px;
                    color: var(--secondary-color);
                    &:hover{
                        color: var(--tertiary-color);
                        transition: all 0.2s linear;
                    }
                }
            }
            .media>*{
                margin: 12px;
                padding: 12px;
            }
        }
        .Map{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            // border: 2px solid black;
        }
    }
}

@media screen and (max-width:1560px){
    .Contact{
        flex-direction: column;
        .Details{
            flex-direction:row;
            #iframe{
                height: 300px;
                width: 300px;
                margin: 20px;
            }
        }
        .form{
            flex-direction: column;
            form{
                .input{
                    input,#textarea{
                        width: 300px;
                    }
                }
            .button{
                display: flex;
                #submit{
                    width: 220px;
                    height: 40px;
                    font-size: 17px;
                }
                #reset{
                    width: 220px;
                    height: 40px;
                    font-size: 17px;
                }
            }
            .button>*{
                margin: 12px;
                padding: 12px;
            }
            }
            .Icon{
                #Contact_img{
                    max-width: 400px;
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width:900px){
    .Contact{
        flex-direction: column;
        .Details{
            flex-direction:column;
            #iframe{
                height: 300px;
                width: 300px;
                margin: 20px;
            }
            .Info{
                h1{
                    font-size: 40px;
                    margin: 40px;
                }
                p{
                    font-size: 12px;   
                    margin: 20px 70px;  
                    font-size: 20px;               
                }
            }
        }
        .form{
            flex-direction: column;
            border-radius: 0px;
            form{
                .input{
                    h2{
                        font-size: 15px;
                    }
                    input{
                        width: 150px;
                        height: 20px;
                        font-size: 10px;
                    }
                    #textarea{
                        width: 150px;
                        height: 100px;
                        font-size: 10px;
                    }
                }
                .button{
                    display: flex;
                    #submit{
                        width: 120px;
                        height: 30px;
                    }
                    #reset{
                        width: 120px;
                        height: 30px;
                    }
                }
                .button>*{
                    margin: 12px;
                    padding: 12px;
                }
            }
            .Icon{
                #Contact_img{
                    max-width: 300px;
                    height: auto;
                }
            }
        }
    }
}